
.section-board{
    width: 100%;
    height: auto;
    border: 1px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}